*.iml
.gradle
/local.properties
.idea
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
google-services.json
*.jks
/app/release
/app/build
/*.json

# fastlane specific
**/fastlane/report.xml

# deliver temporary files
**/fastlane/Preview.html

# snapshot generated screenshots
**/fastlane/screenshots

# scan temporary files
**/fastlane/test_output
